.timeline {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #FBFBFB;
}

.periods__header {
  height: 20px;
  border-bottom: solid 1px #EEE;
}

.period-item {
  position: absolute;
  top: 0;
  bottom: 0;
  border-left: solid 1px #EEE;
  text-align: center;
}

.items {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.item {
  position: absolute;
  top: 20px;
}

.item__title {

}

.item_selected {
  color: #F00;
}

.item_flight {
  background: #ee4800;
  margin-top: 5px;
  height: 2px;
}
